In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.DataFrame([(False, 45, 64), (45, 34, 54)]) # A simple dataframe with no col or row label..
df

       0   1   2
0  False  45  64
1     45  34  54

In [71]:
df.columns = ['Children', 'Parents', 'Teachers'] # Adding the col name as a list of strings..
df

  Children  Parents  Teachers
0    False       45        64
1       45       34        54

In [72]:
them = df['Children']
them

0    False
1       45
Name: Children, dtype: object

In [55]:
df.iloc[1, 1]

34

In [33]:
print(df.dtypes)

Children    object
Parents      int64
Teachers     int64
dtype: object

In [34]:
df.describe() # Note the children col cannot be descibed since it is an object

         Parents   Teachers
count   2.000000   2.000000
mean   39.500000  59.000000
std     7.778175   7.071068
min    34.000000  54.000000
25%    36.750000  56.500000
50%    39.500000  59.000000
75%    42.250000  61.500000
max    45.000000  64.000000

In [35]:
# FInding Unique values
df['Children'].unique()

array([False, 45], dtype=object)

In [62]:
data = pd.read_csv('countries.csv')
data.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [63]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
country       1704 non-null object
year          1704 non-null int64
population    1704 non-null int64
dtypes: int64(2), object(1)
memory usage: 40.0+ KB

In [64]:
data = pd.read_csv('countries.csv', index_col=0) # Default index removal
data.head()

             year  population
country
Afghanistan  1952     8425333
Afghanistan  1957     9240934
Afghanistan  1962    10267083
Afghanistan  1967    11537966
Afghanistan  1972    13079460

In [45]:
# Also, achieve the same effect above by setting the index you want
data = pd.read_csv('countries.csv')
data = data.set_index('country') # You can whichever you want, year...
data.head()

             year  population
country
Afghanistan  1952     8425333
Afghanistan  1957     9240934
Afghanistan  1962    10267083
Afghanistan  1967    11537966
Afghanistan  1972    13079460

In [68]:
data.drop_duplicates(inplace=True, keep=False)